:root {
    --color-fondo: #FAFAFA;
    --color-texto: #1A1A1A;
    --color-acento: #FF5733;
    --font-principal: 'Geist Pixel', sans-serif;
}

p { 
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    background-color: var(--color-fondo);
    text-align: center;
    color: var(--color-texto);
}

body nav a {
    color: var(--color-texto);
    text-decoration: none;
    padding: 10px 15px;
}

body nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

body {
    background-color: var(--color-fondo);
    font-family: var(--font-principal);
    color: var(--color-texto);
}

/* ===== TITULO ===== */

.title  {
    font-size: 32px;
    font-weight: bold;
    font-family: var(--font-principal);
    color: var(--color-texto);
    text-align: center;
    margin-top: 20px;
}

.presentación {
    font-size: 24px;
    font-weight: bold;
    color: var(--color-texto);
    text-align: center;
    margin-top: 20px;
}

header {
    background-color: var(--color-fondo);

    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}


footer a {
    color: var(--color-acento);
    text-decoration: none;
    padding: 10px 15px;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

